/* CompHealth Brand Theme - Dark Mode */
[data-theme="comphealth"][data-mode="dark"] {
  --color-brand-25: #3c304c;
  --color-brand-50: #4b3a62;
  --color-brand-100: #553f6c;
  --color-brand-200: #5e4775;
  --color-brand-300: #644d7b;
  --color-brand-400: #79658d;
  --color-brand-500: #8f7fa1;
  --color-brand-600: #aea3bc;
  --color-brand-700: #ccc4d7;
  --color-brand-800: #eae4ee;
  --color-brand-900: #f0ecf3;

  --color-primary-25: #3c304c;
  --color-primary-50: #4b3a62;
  --color-primary-100: #553f6c;
  --color-primary-200: #5e4775;
  --color-primary-300: #644d7b;
  --color-primary-400: #79658d;
  --color-primary-500: #8f7fa1;
  --color-primary-600: #aea3bc;
  --color-primary-700: #ccc4d7;
  --color-primary-800: #eae4ee;
  --color-primary-900: #f0ecf3;

  --color-secondary-25: #7c2820;
  --color-secondary-50: #95291f;
  --color-secondary-100: #b42d21;
  --color-secondary-200: #d63a2c;
  --color-secondary-300: #ea5c4f;
  --color-secondary-400: #f48075;
  --color-secondary-500: #f9afa8;
  --color-secondary-600: #fcd0cc;
  --color-secondary-700: #fde5e3;
  --color-secondary-800: #fef3f2;
  --color-secondary-900: #fffbfa;
}
