/* Connect Brand Theme - Dark Mode */
[data-theme="connect"][data-mode="dark"] {
  --color-brand-25: #065274;
  --color-brand-50: #00638d;
  --color-brand-100: #0075ab;
  --color-brand-200: #0093d4;
  --color-brand-300: #00a8e2;
  --color-brand-400: #2ccdff;
  --color-brand-500: #75ddff;
  --color-brand-600: #b6ebff;
  --color-brand-700: #def4ff;
  --color-brand-800: #effaff;
  --color-brand-900: #fafdff;

  --color-primary-25: #065274;
  --color-primary-50: #00638d;
  --color-primary-100: #0075ab;
  --color-primary-200: #0093d4;
  --color-primary-300: #00a8e2;
  --color-primary-400: #2ccdff;
  --color-primary-500: #75ddff;
  --color-primary-600: #b6ebff;
  --color-primary-700: #def4ff;
  --color-primary-800: #effaff;
  --color-primary-900: #fafdff;

  --color-secondary-25: #883e06;
  --color-secondary-50: #a44c08;
  --color-secondary-100: #c55b09;
  --color-secondary-200: #f5822a;
  --color-secondary-300: #f47615;
  --color-secondary-400: #f68c3b;
  --color-secondary-500: #f8ad74;
  --color-secondary-600: #fbcda9;
  --color-secondary-700: #fde6d5;
  --color-secondary-800: #fef4ed;
  --color-secondary-900: #fff9f5;
}
