/* LocumSmart Brand Theme */
[data-theme="locumsmart"] {
  --color-brand-25: #f2fafd;
  --color-brand-50: #e3f5fa;
  --color-brand-100: #aee0f4;
  --color-brand-200: #78cbec;
  --color-brand-300: #41b7e5;
  --color-brand-400: #00a7e1;
  --color-brand-500: #009add;
  --color-brand-600: #008dcf;
  --color-brand-700: #0c6bb0;
  --color-brand-800: #006aa8;
  --color-brand-900: #004b88;

  --color-primary-25: #f2fafd;
  --color-primary-50: #e3f5fa;
  --color-primary-100: #aee0f4;
  --color-primary-200: #78cbec;
  --color-primary-300: #41b7e5;
  --color-primary-400: #00a7e1;
  --color-primary-500: #009add;
  --color-primary-600: #008dcf;
  --color-primary-700: #0c6bb0;
  --color-primary-800: #006aa8;
  --color-primary-900: #004b88;

  --color-secondary-25: #fefbf5;
  --color-secondary-50: #fef8ee;
  --color-secondary-100: #feefd6;
  --color-secondary-200: #fbdcad;
  --color-secondary-300: #f9c278;
  --color-secondary-400: #f59e42;
  --color-secondary-500: #f2821f;
  --color-secondary-600: #e36613;
  --color-secondary-700: #bc4d12;
  --color-secondary-800: #963e16;
  --color-secondary-900: #793515;
}
