/* Modio Brand Theme - Dark Mode */
[data-theme="modio"][data-mode="dark"] {
  --color-brand-25: #04425f;
  --color-brand-50: #065d86;
  --color-brand-100: #1e799b;
  --color-brand-200: #2c91b6;
  --color-brand-300: #3ba9d2;
  --color-brand-400: #5ec3e0;
  --color-brand-500: #84d3eb;
  --color-brand-600: #a6dff1;
  --color-brand-700: #c8ecf8;
  --color-brand-800: #e5f7fc;
  --color-brand-900: #f1fbfd;

  --color-primary-25: #04425f;
  --color-primary-50: #065d86;
  --color-primary-100: #1e799b;
  --color-primary-200: #2c91b6;
  --color-primary-300: #3ba9d2;
  --color-primary-400: #5ec3e0;
  --color-primary-500: #84d3eb;
  --color-primary-600: #a6dff1;
  --color-primary-700: #c8ecf8;
  --color-primary-800: #e5f7fc;
  --color-primary-900: #f1fbfd;

  --color-secondary-25: #16463a;
  --color-secondary-50: #1d5d4d;
  --color-secondary-100: #277c67;
  --color-secondary-200: #319b81;
  --color-secondary-300: #3aba9b;
  --color-secondary-400: #64ceb4;
  --color-secondary-500: #8bdac6;
  --color-secondary-600: #b1e7d9;
  --color-secondary-700: #d8f3ec;
  --color-secondary-800: #ecf9f6;
  --color-secondary-900: #f3fbf9;
}
